{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
<header id="main-navigation">
    <h1><a href="">Blog Site</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Eugene - Author Of This Blog"/>
        <h2>Eugene's Blog</h2>
    </header>
    <p>Hello!!My name is Eugene and I love coding!</p>
</section>

<section id="latest-posts">
    <h2>Latest Posts</h2>

    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Food Tasting"/>
                    <div id="post__content">
                        <h3>Food Tasting</h3>
                        <p>There's nothing quite like fine dining!!</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I Do:</h2>
    <p>I love Programming, exploring new tech and helping others</p>
    <p>My goal is to keep growing in the crazy world of Software Development</p>
</section>
{% endblock%}